<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="returnInstanceForEmptyRow" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>
	<typeAliases>
		<!-- 별칭정리 -->
		<typeAlias type="kr.or.study.model.vo.Study" alias="s"/>
		<typeAlias type="kr.or.photo.model.vo.Photo" alias="p"/>
		<typeAlias type="kr.or.info.model.vo.Info" alias="i"/>
	</typeAliases>


</configuration>
